*{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:cursive;
    text-align: justify;
    font-size:30px;    
}  
#survey-form{
        width:800px;
        background-image:url("https://i.pinimg.com/564x/c3/8b/d6/c38bd6776781d155b18d59e50d61ba89.jpg");
        background-color:pink;
        padding:20px;
        margin:auto;
        margin-top:100px;
        margin-bottom:100px;
        border-radius:50px;
        color:rgb(10, 10, 10);
        box-shadow:5px 50px 90px rgb(214, 39, 106);
 }


input{
background-color: transparent;
border-color: violet;
border-radius: 20px;
}
#dropdown{
    background-color: transparent;
    border-color: violet;
    border-radius: 20px  
}

#survey-form h2{
text-align: center;

}
#title{
    margin-top: 40px;
    font-size: 50px;
    text-align: center;
    color: mediumvioletred;

}

#description{
    font-size: 19px;
    margin: 0;
    text-align: center;
    font-style: italic;

}

#servicios{
    margin: 40px;
    background:rgb(223, 203, 209);
    background-image: none;
}


h3{
    text-align: center;  
    padding: 35px;
}

#btn{
    margin: 30px;
    background: rgb(214, 39, 106);
    color:black;
    box-shadow:7px 14px 38px rgb(214, 39, 106);
    border-radius:15px;
    padding: 10px;

}